//
// Color Variables
//
$font-family: IBM Plex Sans, sans-serif;
$white-color: #ffffff;
$black-color: #000000;
$black-color-1: #1d2c3c;
$black-color-2: #333333;
$primary-color: #193a6f;
$primary-color-light: #dce9ff;
$primary-color-light-1: #e9eef6;
$secondary-color: #606060;
$grey-shade:#8695a7;
$grey-shade1:#e7e7e7;
$grey-shade2:#4E5155;
$grey-color-1: #525252;
$grey-color-2: #5f5f5f;
$grey-color-3: #aeaeae;
$grey-color-4: #6e768f;
$grey-color-5: #eaeaea;
$grey-color-6: #edf1f7;
$grey-color-7: #e8edf5;
$grey-color-8: #ecf0f7;
$grey-color-9: #eef4ff;
$dark-grey-color-1: rgba(#707070, 0.6);
$blue-color: #3367d6;
$light-blue-color: #778499;
$light-blue-color-2: #747474;
$light-blue-color-3: #748290;
$light-blue-color-4: #dfeafc;
$red-color: #ff0000;
$red-color-2: #e74c3c;
$green-color: #00cf00;