//main section
.main-page{
    margin-left: 250px;
    font-family: $font-family;
    width: calc(100% - 250px);
    transition: all .5s;

    &.full-width{
        margin-left: 70px;
        width: calc(100% - 70px);

        @include respond('phone'){
            margin-left: 0;
            width: 100%;
        }
    }

    //page content section
    &__page-content{
        padding: 30px;
        

        &__page-heading{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            &__title{

                h2{
                    font-size: 20px;
                    line-height: 28x;
                    font-weight: normal;
                    margin: 0 0 5px;
                }

                ul{
                    padding: 0;
                    margin: 0;

                    li{
                        display: inline-block;
                        font-size: 10px;
                        text-transform: uppercase;
                        padding: 0 15px 0 0;
                        position: relative;

                        a{
                            text-decoration: none;
                            color: $grey-shade;
                        }

                        &::after{
                            content: '';
                            position: absolute;
                            height: 10px;
                            width: 1px;
                            right: 5px;
                            top: 0px;
                            background: $grey-shade;
                            transform: rotate(20deg);
                        }

                        &:last-child{
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
                @include respond('phone'){
                    margin-bottom: 30px;
                }
            }

            &__page-filter{
                select{
                    padding: 10px;
                    border: 1px solid $grey-shade1;
                    font-size: 12px;
                    outline: none;
                    color: $grey-shade2;
                    cursor: pointer;
                    transition: all .4s;

                    &:hover{
                        border: 1px solid $black-color-1;
                    }

                    @include respond('tab-port'){
                        margin-top: 10px;
                    }
                    @include respond('phone'){
                        margin: 0 0 10px;
                        width: 100%;
                    }
                }

                button {
                    padding: 10px 30px;
                    background: $white-color;
                    border: 1px solid $grey-shade1;
                    font-size: 12px;
                    margin: 0 10px;
                    color: $grey-shade2;
                    cursor: pointer;
                    transition: all .4s;

                    &:hover{
                        border: 1px solid $black-color-1;
                    }

                    .fa{
                        margin-right: 8px;
                        font-size: 14px;
                    }

                    @include respond('tab-port'){
                        margin-top: 10px;
                    }

                    @include respond('phone'){
                        margin: 0 0 10px;
                        width: 100%;
                    }
                }

                @include respond('tab-port'){
                    margin-top: 20px;
                }
            }

            @include respond('tab-port'){
                display: block;
            }

            @include respond('phone'){
                display: block;
            }
        }

        .card-section{
            display: flex;
            flex-flow: row;
            margin-bottom: 30px;

            &__card{
                padding: 20px;
                border: 1px solid $grey-shade1;
                margin-right: 20px;
                width: 100%;
                border-radius: 3px;

                &:last-child{
                    margin-right: 0;
                }

                h4{
                    margin: 0;
                    font-size: 10px;
                    text-transform: uppercase;
                    font-weight: normal;

                    @include respond('phone'){
                        padding: 5px 10px;
                    }
                }

                h2{
                    margin: 5px 0;
                    font-size: 22px;
                    font-weight: 500;

                    @include respond('phone'){
                        padding: 5px 10px;
                    }
                }
                p{
                    font-size: 10px;
                    color: $grey-shade;
                    margin: 0;
                    span{
                        color: $red-color;
                        margin-right: 5px;
                    }

                    @include respond('phone'){
                        padding: 5px 10px;
                    }
                }

                @include respond('tab-port'){
                    margin-top: 10px;
                }
                @include respond('phone'){
                    margin: 0 0 10px;
                    padding: 0;
                }
            }

            @include respond('tab-port'){
                flex-wrap: wrap;
            }
            @include respond('phone'){
                display: block;
            }
        }

        .chart-section{
            &__left-dv{
                width: 74%;
                display: inline-block;

                &__chart-bar-dv{
                    border: 1px solid $grey-shade1;
                    padding: 10px 20px;
                    border-radius: 3px;

                    &__list{
                        padding: 0;
                        margin: 0;
                        width: 30%;
                        display: inline-block;
                        vertical-align: top;

                        &__tab{
                            list-style-type: none;
                            padding: 10px 0;

                            h4{
                                margin: 0;
                                font-size: 10px;
                                text-transform: uppercase;
                                font-weight: normal;
                            }
                            h2{
                                margin: 5px 0;
                                font-size: 18px;
                                font-weight: 500;

                                span{
                                    float: right;
                                    font-size: 12px;
                                }
                            }

                            .prog-bar{
                                height: 3px;
                                width: 100%;
                                background: $grey-shade1;

                                .blue-bar{
                                    background: $blue-color;
                                    width: 25%;
                                    height: 100%;
                                }

                                .red-bar{
                                    background: $red-color;
                                    width: 65%;
                                    height: 100%;
                                }

                                .green-bar{
                                    background: $green-color;
                                    width: 45%;
                                    height: 100%;
                                }
                            }
                        }

                        @include respond('phone'){
                            width: 100%;
                        }
                    }

                    &__chart-dv{
                        width: 65%;
                        display: inline-block;

                        canvas{
                            height: 300px;
                            width: 100%;
                        }
                    }
                }

                &__round-chart-dv{
                    display: flex;
                    margin-top: 30px;

                    &__card{
                        width: 100%;
                        margin-right: 20px;
                        padding: 20px;
                        border: 1px solid $grey-shade1;
                        border-radius: 3px;

                        &:last-child{
                            margin-right:0;
                        }

                        h4{
                            font-size: 12px;
                            margin: 0;
                        }
                        p{
                            font-size: 10px;
                            color: $grey-shade;
                        }

                        &__round-dv{
                            margin-top: 20px;

                            svg{
                                .ct-series-a{
                                    .ct-slice-donut{
                                        stroke: $blue-color;
                                        fill: none;
                                    }
                                }
    
                                .ct-series-b{
                                    .ct-slice-donut{
                                        stroke: $red-color;
                                        fill: none;
                                    }
                                }
    
                                .ct-series-c{
                                    .ct-slice-donut{
                                        stroke: $green-color;
                                        fill: none;
                                    }
                                }

                                @include respond('phone'){
                                    width: 50px;
                                    height: 50px;
                                }
                            }

                            

                            &__list{
                                padding: 0;
                                margin: 10px 0 0;
                                width: 48%;
                                display: inline-block;
                                vertical-align: top;
    
                                &__tab{
                                    list-style-type: none;
                                    font-size: 14px;
                                    padding: 5px 0;
                                    position: relative;
                                    color: $grey-shade;
    
                                    &:first-child{
                                        &::before{
                                            content: '';
                                            position: absolute;
                                            height: 7px;
                                            width: 7px;
                                            border: 3px solid $blue-color;
                                            left: -20px;
                                            top: 5px;
                                            border-radius: 50%;
                                        }
                                    }

                                    &:nth-child(2){
                                        &::before{
                                            content: '';
                                            position: absolute;
                                            height: 7px;
                                            width: 7px;
                                            border: 3px solid $red-color;
                                            left: -20px;
                                            top: 5px;
                                            border-radius: 50%;
                                        }
                                    }

                                    &:last-child{
                                        &::before{
                                            content: '';
                                            position: absolute;
                                            height: 7px;
                                            width: 7px;
                                            border: 3px solid $green-color;
                                            left: -20px;
                                            top: 5px;
                                            border-radius: 50%;
                                        }
                                    }
                                }

                                @include respond('tab-port'){
                                    margin: 10px 0 0 10px;
                                    width: 100%;
                                }

                                @include respond('phone'){
                                    width: 100%;
                                    margin: 10px 0 0 10px;
                                }
                            }
                        }
                        
                    }
                }

                @include respond('tab-port'){
                    display: block;
                    width: 100%;
                }
                @include respond('phone'){
                    display: block;
                    width: 100%;
                }
            }
            
            &__right-dv{
                width: 23%;
                display: inline-block;
                border: 1px solid $grey-shade1;
                border-radius: 3px;
                padding: 30px 0;
                margin-left: 25px;
                vertical-align: top;

                &__ernings-dv{
                    padding: 0 30px;
                    &__media{
                        display: flex;
                        margin-bottom: 20px;

                        &__media-left{
                            width: 20%;
                            margin-right: 20px;

                            .blue-patch{
                                background: $blue-color;
                                color: $white-color;
                                border-radius: 3px;
                                padding: 5px;
                                text-align: center;
                            }

                            .red-patch{
                                background: $red-color;
                                color: $white-color;
                                border-radius: 3px;
                                padding: 5px;
                                text-align: center;
                            }

                            .green-patch{
                                background: $green-color;
                                color: $white-color;
                                border-radius: 3px;
                                padding: 5px;
                                text-align: center;
                            }
                        }

                        &__media-right{
                            h4{
                                margin: 0;
                                font-size: 10px;
                                margin-bottom: 5px;
                                color: $grey-shade;
                                font-weight: normal;
                            }
                            h2{
                                font-size: 16px;
                                margin: 0;

                                span{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }

                &__tables{
                    font-size: 12px;
                    width: 100%;
                    tr{
                        &:hover{
                            background: $grey-shade1;
                        }
    
                        th{
                            text-align: left;
                            font-weight: normal;
                            color: $grey-shade;
                            padding: 10px 5px;
                            border-top: 1px solid $grey-shade1;
                        }
                        td{
                            padding: 10px 5px;
                            border-top: 1px solid $grey-shade1;
                        }
                    }
    
                    
                }

                @include respond('tab-port'){
                    margin: 20px 0 0 0;
                    width: 100%;
                }
                @include respond('phone'){
                    width: 100%;
                    margin: 20px 0 0 0;
                }
                
            }

            
        }

        @include respond('phone'){
            padding: 20px;
        }
    }
    //page content section end

    @include respond('phone'){
        margin-left: 0;
        width: 100%;
        margin-bottom: 50px;
    }
}
//main section end