//table section
.tables-main{
    font-family: $font-family;
    table{
        width: 100%;
        font-size: 13px;

        tr{
            th{
                text-align: left;
                font-weight: normal;
                padding: 10px;
                border-bottom: 1px solid $grey-shade1;
            }
    
            td{
                padding: 10px;
                border-bottom: 1px solid $grey-shade1;
            }
 
        }
        
    }

    &__strip{
        tr{
            &:nth-of-type(odd){
                background-color: $grey-shade1;
            }
        }
    }
    &__hover{
        tr{
            &:hover{
                background-color: $grey-shade1;
            }
        }
    }
    &__media{
        tr{
            td{
                .media{
                    display: flex;
                    img{
                        height: 35px;
                        margin-right: 10px;
                    }

                    h2{
                        margin: 0;
                        font-size: 14px;
                    }
                    p{
                        margin: 0;
                        font-size: 10px;
                    }
                }
            }
        }
    }
    &__action{
        tr{
            td{
                a{
                    text-decoration: none;
                    color: $black-color;
                    margin-right: 10px;
                }
            }
        }
    }
    &__colored{
        tr{
            &:nth-of-type(odd){
                background-color: $red-color-2;
            }
            &:nth-of-type(even){
                background-color: $green-color;
            }
        }
    }
    &__foo{
        tr{
            .fa{
                cursor: pointer;
                margin-right: 5px;
                color: $black-color;
            }
        }
        &__foo-inner{
            background-color: $grey-shade;
            color: $white-color;
            display: none;

            &__row-inner{
                display: table;

                &__row-detail{
                    display: table-row;

                    div{
                        display: table-cell;

                        &.row-detail-name{
                            font-weight: 600;
                            padding: 0 10px 5px 0;
                        }
                    }

                }
            }
        }
    }
}
//table section end